@import "style.css";

.Container{
  display: inline-block;
}

a:hover{
  color: magenta;
}

nav ul li{
  display: block;
}
.colorbar{
  background-color: teal;
  height: 75px;
}

p{
  font-style: normal;
  font-size: 12px;
}
